{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.googlescholar %}
      <li><a href="{{ site.author.googlescholar }}"><i class="ai ai-google-scholar" aria-hidden="true"></i> Google Scholar</a></li>
    {% endif %}
    {% if site.author.twitter %}
      <li><a href="https://x.com/{{ site.author.twitter }}"><i class="fab fa-x-twitter" aria-hidden="true"></i> X (Twitter)</a></li>
    {% endif %}
  </ul>
</div>

<div class="page__footer-copyright">{{ site.name }}</div>
